@font-face{
    font-family: "Roboto Slab";
    
    src: local("Roboto Slab"),
    local("Roboto-Slab"),
    url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}
@font-face{
    font-family: "Roboto Slab Light ";
    
    src: local("Roboto Slab Light"),
    local("Roboto-Slab-Light"),
    url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
}
/* Brand */
.logo{
    width: 550px;
}
/* navbar */
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.containerNav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: relative;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav__center{
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav__search{
    width: 180px;
    display: flex;
    justify-content: flex-end;
}
.nav-link{
color: whitesmoke;

}
.nav-link:hover{
    color: goldenrod;
}
.item_menu{
    position: relative;
}
.sub_menu{
    box-shadow: 1px 2px 10px #999;
    width: 100%;
    padding: 0;
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
    background: white;
    width: 180%;
    display: none;
    animation: display 0.5s;
}
.item_menu:hover .sub_menu{
    display: block;
    
}
@keyframes display {
    from {opacity: 0;}
    to {opacity: 1;}
}
.sub_item a:hover{
    color: #c39d62;
    text-decoration: none;
}
.sub_item a{
    display: block;
    color: black;
}

.sub_item{
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    list-style-type: none;
    padding: 8px;
}
/* Search */
#search_bar input[type=search] {
    background: url(iconmonstr-magnifier-6-24.png) no-repeat 7px center;
    width: 20px;
    border: 1px solid whitesmoke;
    padding: 5px 5px 5px 32px ;
    cursor: pointer;
    transition: all .5s;
}
#search_bar input[type=search]:focus {
    width: 180px;
    cursor: auto;
    color: white;
}
/* map */
.informe{
    padding-right: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #bdbdbd11;
}
#map{
    height: 175px;
    width: 80%;
    margin-left: 105px;
}
.bmc-button img{
    height: 34px ;
    width: 35px ;
    margin-bottom: 1px ;
    box-shadow: none ;
    border: none ;
    vertical-align: middle ;
}
.btndonate{
    padding-left: 318px;
    width: 100%;
}
.bmc-button{
    padding: 7px 15px 7px 10px ;
    line-height: 35px ;
    height:51px ;
    text-decoration: none ;
    display:inline-flex ;
    color:#000000 ;
    background-color:gold;
    border-radius: 5px ;
    border: 2px solid #000000 ;
    padding: 7px 15px 7px 10px ;
    font-size: 22px ;
    letter-spacing: 0.6px ;
    font-family:'Cookie', cursive ;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box ;
}
.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
    -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) ;
    text-decoration: none ;
    box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) ;
    opacity: 0.85 ;
    color:#000000 ;
}
/* body */
.aboutme{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    margin-top: 30px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(175, 175, 175, 0.143);
}
.aboutme .row .col-4 img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.aboutme .row .col-4 img:hover{
    box-shadow: 0px 0px 30px 1px rgba(142, 92, 0, 0.367);
}
.aboutme .row .col-8{
    margin-left: -68px;
    font-size: 20px;
}
body{
    font-family: 'Roboto Slab', serif;
}
.card-body{
    font-family: 'Roboto Slab Light', serif;
}
.containers.TC {
    width: 88%;
    margin: auto;
}
.containerss {
    width: 88%;
    margin: auto;
}
.text-color-c39d62 {
    color: #c39d62 ;
}
.border-underline {
    border-bottom: .2rem solid;
}
img{
    border-radius: 10px;
}
article{
    border-radius: 10px;
    transition: transform, box-shadow 0.5s;
    margin-bottom: 20px;
}
article:hover{
    box-shadow: 2px 2px 15px 2px rgb(148, 126, 53);
}
.strike:before,.strike:after {
    content: "";
    display: inline-block;
    border: 1px solid;
    vertical-align: middle;
    width: 4rem;
}
.hidden{
    display: none;
}
/* btn ScrollTop */
#btn-scrolltop{
    display: none;
    border: solid goldenrod;
    background-color: black;
    position: fixed;
    right: 1%;
    bottom: 10%;
    width: 60px; 
    height: 60px;
    outline: none;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.445);
    z-index: 15;
}
#icon-up{
    color: goldenrod;
    font-size: 25px;
}
/* ------ */
/* Footer */
footer{
    padding-top: 15px;
    color: whitesmoke;
    background-color: black;
}
.containerfoot{
    width: 95%;
    margin: auto;
}
.widget-link-list ul > li:first-child {
    border-top: 1px solid #6c757d;
}

.widget-link-list ul > li {
    border-bottom: 1px solid #6c757d;
    padding: 5px;
}
section.copyright{
    background-color: black;
    color: goldenrod;
}

a.h2{
    text-decoration: none;
}
.text-ft{
    color: #999;
}
.text-ft:hover{
color: goldenrod;
text-decoration: none;
}
 /* responsive */
@media only screen and (max-width:1201px){
    .nav-link{
        font-size: 0.8rem;
        text-align: center;
        padding-top: 0;
    }    

}
@media only screen and (max-width:801px){
    body{ 
        width: 800px;
        margin: auto;
    }

}@media only screen and (max-width:401px){
    body{ 
        width: 400px;
        margin: auto;
    }

}
.backgimg {
    width: 100%;
    height: 500px;
}
.backgimg img{
    border-radius: 0px;
}
.containersss{
    padding-top: 100px;
    width: 88%;
    margin: auto;
}
.containerbody{
    width: 60%;
    margin: auto;
}
.containersss .containerbody img{
    margin-top: 30px;
    margin-bottom: 30px;
}
